* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{

    background:#050816;

    color:var(--white);

    font-family:"Inter",sans-serif;

    overflow-x:hidden;

    position:relative;

}

body::before{

    content:"";

    position:fixed;

    inset:0;

    background-image:

    linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),

    linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px);

    background-size:45px 45px;

    z-index:-3;

}

body::after{

    content:"";

    position:fixed;

    width:650px;

    height:650px;

    left:-220px;

    top:-220px;

    background:radial-gradient(circle,#00e68a55,transparent 70%);

    filter:blur(80px);

    animation:pulseGlow 8s infinite;

    z-index:-2;

}

a {
  color: inherit;

  text-decoration: none;
}

button {
  cursor: pointer;

  border: none;
}

.container {
  width: min(1250px, 92%);

  margin: auto;
}
